# Google Cloud Configuration
GOOGLE_CLOUD_PROJECT="ge-agents-test"
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_CLOUD_REGION="us-central1"

# App Specific Configuration
BUCKET_NAME="435787918583-mova-artifacts"

# ADK Configuration
GOOGLE_GENAI_USE_VERTEXAI="True"
